.search-box{width: 100%; max-width: 500%;}

label{display: block;font-size: 20px;margin-bottom: 5px;color: brown;}

input,textarea{width: 33%; padding: 10px 2%;text-align: left;border: 2px solid blue; border-radius: 5px;margin-bottom: 20px;}

select{display:block;margin-bottom: 20px; width: 38%; padding: 10px;border-radius: 5px; border: 1px solid red;}

input[type="submit"]{background-color: rgb(36, 36, 224);color: white;text-align: center; border: 1px solid rgb(36, 36, 224); width: 150px;padding: 5px; cursor: pointer;}

input[type="submit"]:hover{background-color: red;border: 1px solid red;}

textarea{min-height: 100px;}

