*{
  margin: 0;
  padding: 0;

}
body{
  /* background-color: #3a8000; */
  background: linear-gradient( #426c4254, #000000d1);
}
section#login_box {
  width: 1200px;
  margin: auto;
  overflow: hidden;
  background: linear-gradient(#00000096, #00000096), url(cool-ice-spider-web-Favim.com-210069.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 56px;
  margin-bottom: 100px;
}

.banner_s {
  width: 724px;
  float: left;
  /* margin-top: 100px; */
  overflow: hidden;
}

.login_s {}

.login_s {
  width: 413px;
  float: left;
  background: white;
  margin-top: 50px;
  padding-bottom: 34px;
  margin-bottom: 56px;
  cursor: pointer;
  box-shadow: -1px 1px 32px 5px;
}

.banner_s h1 {
  font-size: 50px;
  color: white;
  font-size: 108px;
  margin-top: 124px;
  width: 398px;
}
.container1 {
  width: 600px;
  margin: auto;
}

.container2 {
  width: 332px;
  margin: auto;
  overflow: hidden;
}

.container2 h1 {
  font-size: 59px;
  margin: 52px 0px;
  color: #ffb100;
}

.container1 p {
  color: white;
  /* margin-top: 20px; */
}

p#bottom_p {
  font-weight: bold;
  font-size: 17px;
  margin-top: 72px;
}

.container1 button {
  width: 171px;
  padding: 9px 1px;
  font-size: 20px;
  /* background-color: #ff8800; */
  color: white;
  margin-top: 12px;
  margin-right: 34px;
}
.button_r{
  background-color: #0000ff00;
  border: 1px solid white;
  transition: 0.5s;
}

.container1 button a {
  text-decoration: none;
  color: white;
}

.container2 p {
  color: #0d0d0d;
  margin-bottom: 23px;
}

.container2 input {
  width: 300px;
  padding: 9px;
  border: none;
  font-size: 16px;
  border-bottom: 3px solid orange;
  margin-bottom: 24px;
  outline: none;
}

input[type="checkbox"] {display: inline-block;float: left;}

.lef_s input {
  width: 20px;
  float: left;
  margin: 0px;
  margin-top: 3px;
  padding: 0px;
}

.lef_s p {
  color: black;
  float: left;
  margin-right: 15px;
}

.right_s a {
  width: 150px;
  float: right;
  text-decoration: none;
  color: #625d5d;
  text-align: right;
  transition: 0.5s;
}
.right_s a:hover{
color: black;
font-weight: bold;
  
}

button {
  /* display: block; */
}

.container2 button {
  display: block;
  width: 165px;
  float: right;
  border: none;
  background: orange;
  color: white;
  padding: 5px;
  margin: 30px 0px;
  border-radius: 35px;
  /* margin-right: 121px; */
  display: block;
  margin-right: 78px;
  transition: 0.5s;
  cursor: pointer;
}
.container2 button:hover{
  background-color: green;
}

.container2 button a {
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 0px 0px;
  font-size: 20px;
  margin: 30px 0px;
}
button.button_l {
  background: #ff8800;
  border: none;
  transition: 0.5s;
}

button.button_r:hover {
  background: #ff8800;
  border: none;
}

button.button_l:hover {
  border: 1px solid white;
}